{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Crime Express : send reports in real time </p>
        <p class="box">
            <i class="fas fa-user-secret fa-10x" style="color:black"></i>
        </p>
    </div>
</section>