{{> menu}}

<section class="section columns is-vcentered">
    <div class="column has-text-centered">
        <div class="title">
            {{location.name}}
        </div>
    {{> list-reports}}
    {{> add-report}}
    </div>
    <div class="column">
        {{> location-image }}
    </div>
</section>