<form action="/dashboard/addlocation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Location Title*</label>
        <input class="input" type="text" placeholder="Enter location name" name="name" />
      </div>
      <div class="field">
        <label class="label">Latitude*</label>
        <input class="input" type="text" placeholder="Enter latitude" name="latitude" />
      </div>
      <div class="field">
        <label class="label">Longitude*</label>
        <input class="input" type="text" placeholder="Enter longitude" name="longitude" />
      </div>
    </div>
  </div>
  <button class="button is-link">Add Location</button>
</form>